
<h2>This is assignment for OneTwoTrip made by Vadim Ivanov</h2>
Company website as a basic single-page application with auth mechanism.
<h3>Description</h3>
This SPA must consist of three simple pages:
  <ul>
    <li>main page;</li>
    <li>contacts page;</li>
    <li>administrative dashboard.</li>
  </ul>

The website content doesn’t matter. Pages must have common header with menu bar, which contains following sets of items that depend on user’s auth state:
  <ul>
    <li>for anonymous user: Main, Contacts and 'Sign in' links;</li>
    <li>for authorised user: Main, Contacts, Admin links and 'Sign out' button.</li>
  </ul>

'Sign in’ link opens auth form as an overlay. After successful credentials is entered, user must be redirected to Admin page. Entering the Admin page by anonymous user causes redirection to Main page with displayed auth form.

<h3>Technical details</h3>
You have to implement this very basic app applying MVC or similar approach. Our front- end team uses Ember.js, ember-cli and LESS but you are open to demonstrate your favourite technologies and frameworks. Validation of credentials can be done on client side—this task doesn’t require any server side development.